.taskDetail {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
}

.taskBody {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.taskColumn {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.taskField {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.fieldLabel {
    font-weight: 600;
    font-size: 14px;
    color: var(--text-h);
}

.fieldValue {
    margin: 0;
    white-space: pre-wrap;
}

.descriptionField {
    min-height: 128px;
}

.deleteIcon {
    color: #c0392b;
    display: flex;
    place-content: center;
    place-items: center;
    justify-self: center;
    width: 50px;
}

.taskStatus {
    gap: 8px;
}

.attachmentColumn {
    display: flex;
    flex-direction: row;
}

.attachmentFilename {
    text-align: left;
    flex: 1;
}

.attachmentHeader {
    display: flex;
    place-content: center;
    place-items: center;
    justify-self: center;
    gap: 16px;
}

.pointer {
    cursor: pointer;
}

.addAttachment {
    display: flex;
    place-content: center;
    place-items: center;
}